In [41]:
import numpy as np
m = 150
n = 4
X = np.random.uniform(0,100,(m,n))

X[:3]

array([[25.66012315, 62.98245951, 77.83820647, 86.35920626],
       [97.91909874, 18.38895171, 41.82924072, 76.6086849 ],
       [47.91914875, 49.91728214, 59.57968459, 54.67239057]])

In [42]:
y = np.random.randint(0,2,m)

y

array([0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0])

In [43]:
y.shape

(150,)

In [44]:
mlp = np.concatenate((X,y[:,None]),axis=1)

In [45]:
import pandas as pd
mlp = pd.DataFrame({'A': mlp[:, 0], 'B': mlp[:, 1], 'C': mlp[:, 2], 'D': mlp[:, 3], 'Class': mlp[:, 4]})

In [52]:
mlp.shape

(150, 5)

In [53]:
mlp.head()

           A          B          C          D  Class
0  25.660123  62.982460  77.838206  86.359206      0
1  97.919099  18.388952  41.829241  76.608685      1
2  47.919149  49.917282  59.579685  54.672391      1
3  68.125551  38.238137  21.490553  89.289015      1
4  88.683841  50.101790  21.250034  51.441213      0

In [49]:
mlp.Class = mlp.Class.astype(int)
mlp.head()

           A          B          C          D  Class
0  25.660123  62.982460  77.838206  86.359206      0
1  97.919099  18.388952  41.829241  76.608685      1
2  47.919149  49.917282  59.579685  54.672391      1
3  68.125551  38.238137  21.490553  89.289015      1
4  88.683841  50.101790  21.250034  51.441213      0

In [51]:
mlp.to_csv('mlp_dataset.csv', index = False)