In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
sonar = np.loadtxt('sonar.txt', usecols=range(0,10), delimiter =',')

In [3]:
sonar.shape

(208, 10)

In [4]:
y = np.genfromtxt('sonar.txt',dtype='str')

In [5]:
labels = np.genfromtxt('sonar.txt', delimiter=',', usecols=-1, dtype=str)

In [6]:
labels

array(['R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R',
       'R', 'R', 'R', 'R', 'R', 'R', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M'],
      dtype='<U1')

In [7]:
mlp = np.concatenate((sonar,labels[:,None]),axis=1)

In [8]:
import pandas as pd
mlp = pd.DataFrame({'A': mlp[:, 0], 'B': mlp[:, 1], 'C': mlp[:, 2], 'D': mlp[:, 3], 'E':mlp[:, 4], 'F':mlp[:, 5], 'G':mlp[:, 6], 'H':mlp[:, 7], 'I':mlp[:, 8], 'J':mlp[:, 9], 'Class': mlp[:, 10]})

In [9]:
mlp.head()

,A,B,C,D,E,F,G,H,I,J,Class
0,0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.228,0.2431,0.3771,0.5598,0.6194,R
3,0.01,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,R
4,0.0762,0.0666,0.0481,0.0394,0.059,0.0649,0.1209,0.2467,0.3564,0.4459,R

In [10]:
mlp.Class = mlp.Class.map({'R': 0, 'M': 1})

In [11]:
mlp.head()

,A,B,C,D,E,F,G,H,I,J,Class
0,0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,0
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.228,0.2431,0.3771,0.5598,0.6194,0
3,0.01,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,0
4,0.0762,0.0666,0.0481,0.0394,0.059,0.0649,0.1209,0.2467,0.3564,0.4459,0

In [12]:
mlp = mlp.sample(frac=1).reset_index(drop=True)

In [13]:
mlp.to_csv('sonar.csv', index=False)

In [14]:
mlp.describe()

            Class
count  208.000000
mean     0.533654
std      0.500070
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [15]:
mlp.head(30)

,A,B,C,D,E,F,G,H,I,J,Class
0,0.0181,0.0146,0.0026,0.0141,0.0421,0.0473,0.0361,0.0741,0.1398,0.1045,0
1,0.0126,0.0149,0.0641,0.1732,0.2565,0.2559,0.2947,0.411,0.4983,0.592,0
2,0.0209,0.0278,0.0115,0.0445,0.0427,0.0766,0.1458,0.143,0.1894,0.1853,1
3,0.0731,0.1249,0.1665,0.1496,0.1443,0.277,0.2555,0.1712,0.0466,0.1114,1
4,0.026,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.14,0.1843,0.2354,1
5,0.0177,0.03,0.0288,0.0394,0.063,0.0526,0.0688,0.0633,0.0624,0.0613,0
6,0.031,0.0221,0.0433,0.0191,0.0964,0.1827,0.1106,0.1702,0.2804,0.4432,1
7,0.1083,0.107,0.0257,0.0837,0.0748,0.1125,0.3322,0.459,0.5526,0.5966,1
8,0.0191,0.0173,0.0291,0.0301,0.0463,0.069,0.0576,0.1103,0.2423,0.3134,1
9,0.053,0.0885,0.1997,0.2604,0.3225,0.2247,0.0617,0.2287,0.095,0.074,1
10,0.0336,0.0294,0.0476,0.0539,0.0794,0.0804,0.1136,0.1228,0.1235,0.0842,0
11,0.0087,0.0046,0.0081,0.023,0.0586,0.0682,0.0993,0.0717,0.0576,0.0818,0
12,0.0197,0.0394,0.0384,0.0076,0.0251,0.0629,0.0747,0.0578,0.1357,0.1695,1
13,0.0132,0.008,0.0188,0.0141,0.0436,0.0668,0.0609,0.0131,0.0899,0.0922,0
14,0.0015,0.0186,0.0289,0.0195,0.0515,0.0817,0.1005,0.0124,0.1168,0.1476,1
15,0.0315,0.0252,0.0167,0.0479,0.0902,0.1057,0.1024,0.1209,0.1241,0.1533,1
16,0.0208,0.0186,0.0131,0.0211,0.061,0.0613,0.0612,0.0506,0.0989,0.1093,0
17,0.0253,0.0808,0.0507,0.0244,0.1724,0.3823,0.3729,0.3583,0.3429,0.2197,0
18,0.0258,0.0433,0.0547,0.0681,0.0784,0.125,0.1296,0.1729,0.2794,0.2954,1
19,0.0249,0.0119,0.0277,0.076,0.1218,0.1538,0.1192,0.1229,0.2119,0.2531,1
20,0.0123,0.0022,0.0196,0.0206,0.018,0.0492,0.0033,0.0398,0.0791,0.0475,0
21,0.0411,0.0277,0.0604,0.0525,0.0489,0.0385,0.0611,0.1117,0.1237,0.23,1
22,0.0333,0.0221,0.027,0.0481,0.0679,0.0981,0.0843,0.1172,0.0759,0.092,0
23,0.0335,0.0258,0.0398,0.057,0.0529,0.1091,0.1709,0.1684,0.1865,0.266,1
24,0.0459,0.0437,0.0347,0.0456,0.0067,0.089,0.1798,0.1741,0.1598,0.1408,0
25,0.0599,0.0474,0.0498,0.0387,0.1026,0.0773,0.0853,0.0447,0.1094,0.0351,1
26,0.027,0.0163,0.0341,0.0247,0.0822,0.1256,0.1323,0.1584,0.2017,0.2122,1
27,0.0394,0.042,0.0446,0.0551,0.0597,0.1416,0.0956,0.0802,0.1618,0.2558,1
28,0.0378,0.0318,0.0423,0.035,0.1787,0.1635,0.0887,0.0817,0.1779,0.2053,0
29,0.0068,0.0232,0.0513,0.0444,0.0249,0.0637,0.0422,0.113,0.1911,0.2475,0